html {
    height: 100%;
    width: 100%;
}
.left {
    padding-left: 0;
    float:left;
    width: 50%;
}

.middle {
    display: inline-block;
    width: 100%;
}

.right {
    float: right;
    width: 50%;
}

.upper {
    float: right; 
}


footer {
    margin-bottom: 0;
    padding-bottom: 0;
}

ul {
    display: inline-block;
}

li {
    display: inline-block;
}