html {
    height: 100%;
    width: 100%;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

.A {
    float:right;
    width: 100%;
    display: block;
    margin-top: 17px;
}

.A img:hover{
    opacity: 1;
}

.A li {
    padding: 0 6.5px;
}

.B {
    margin: auto auto;
    text-align: center;
    margin-top: 150px;
}

.B h1 {
    margin: 30px 0;
    width: fit-content;
    border: solid hsla(0, 0%, 100%, 0) thin;
    border-radius: 20px;
    box-shadow: 0px 0px 15px -10px;
    padding: 0 10px;
}

.B h1 img{
    padding: 0 5px;
}

.C {
    padding: 0 27px;
}

.D {
    padding: 0 17px;
}

.C, .D {
    background-color: hsla(0, 0%, 0%, 0.05);
    border: #00000014 solid thin;
    color: hsla(0, 0%, 0%, 0.57);
    padding-top: 13px;
}



.D a {
    color: hsla(0, 0%, 0%, 0.57);
}

a, a:visited {
    font-size: 13px;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.a {
    display: inline-block;
}

#b {
    float: right;
}

#google {
    display: inline-block;
    margin: 0 auto;
}

#login, #login:hover {
    background-color: #4387fd;
    color: white;
    padding: 6px 12px 7px 12px;
    border: 1px solid #4387fd;
    border-radius: 2px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 20px;
}

.grid {
    display: grid;
    grid-template-rows: 1fr 11fr 1fr 1fr;
}

.search, .search:focus {
    border: hidden;
    outline: none;
    height: 40px;
    width: 350px;
}

.op {
    opacity: 0.5;
}

h2 input {
    background-color: hsla(0, 0%, 0%, 0.05);
    color: hsla(0, 0%, 0%, 0.57);
    border: none;
    border-radius: 4px;
    margin: 0 2.5px;
    padding: 10px 20px;
}

h2 input:hover{
    background-color: hsla(0, 0%, 0%, 0.05);
    color: hsla(0, 0%, 0%, 0.85);
    box-shadow: inset 0px 0px 3px 0.0px;
    border-radius: 4px;
    margin: 0 2.5px;
    padding: 10px 20px;
}

body {
    display: grid;
}

img {
    vertical-align: middle;
}

ul {
    display: inline;
    float: right;
}

li {
    display: inline;
    padding: 0 10px;
    
}
